@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    scroll-behavior:smooth;
  }
}

@layer utilities {
  .frontpage {
    background: rgb(0,0,0);
    background: linear-gradient(130deg, rgba(0,0,0,1) 50%, rgba(5,47,247,1) 100%);
  }
  .skillspage{
    background: rgb(0,0,0);
    background: linear-gradient(50deg, rgba(0,0,0,1) 50%, rgba(5,47,247,1) 100%);
  }
  .backgroundpage{
    background: rgb(48,167,39);
  background: linear-gradient(298deg, rgba(48,167,39,1) 14%, rgba(30,22,32,1) 70%);
  }
  .workpage{
    background: rgb(30,22,32);
  background: linear-gradient(140deg, rgba(30,22,32) 4%, rgba(48,167,39,1) 56%, rgba(203,69,236,1) 90%);
  }
  .imground{
    border-radius: 43% 57% 43% 57% / 70% 59% 41% 30%  ;
  }
  .index1{
    z-index:1;
  }
  .index2{
    z-index:2;
  }
  .index3{
    z-index:3;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



